persist
config.json
gitflow
*.db
*.log
.*.swp
__pycache__
*.pyc
*.orig
.project
.geany
*.sublime-project
*.sublime-workspace
.idea/
data/GeoLiteCity.dat
plugins/New Text Document.txt
plugins/srvv.py
run.cmd
config
.vagrant
