nltk
geoip2
git+https://github.com/Dinnerbone/mcstatus.git@master
microdata
sqlalchemy
watchdog
lxml
beautifulsoup4
feedparser
pycrypto
pbkdf2
requests
psutil
requests-oauthlib
tweepy
pyenchant
pythonwhois
imgurpython
isodate