{% extends "layout.html" %}
{% set active_page = "commands" %}
{% block title %}Commands - {{ super() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="page-header">
                <h2 id="container">Command List</h2>
            </div>

            <p class="lead">{{ bot_name }} has a large selection of commands that can do all kinds of useful tasks.
                Below is an automatically-generated list of every command the bot currently knows.</p>

            <table class="table table-striped sortable" id="commands">
                <thead>
                <tr>
                    <th class='az' data-defaultsign="nospan" data-defaultsort="asc">Command</th>
                    <th data-defaultsort='disabled'>Description</th>
                    <th><i class="glyphicon glyphicon-lock"></i></th>
                </tr>
                </thead>
                {% for cmd, doc, perm in commands %}
                    <tr>
                        <td>{{ cmd | e }}</td>
                        <td>{{ doc | e }}</td>
                        {% if perm %}
                            <td data-value="{{ perm|truncate(6, True, '') }}">
                                <i class="glyphicon glyphicon-lock" data-toggle="tooltip" data-placement="left"
                                   title="{{ perm }}"></i>
                            </td>
                        {% else %}
                            <td data-value="zz"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}