{% extends "layout.html" %}
{% set active_page = "commands" %}
{% block title %}Commands - {{ super() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 id="container">Commands</h2>
            </div>
            <!--<p class="lead">How to use {{ bot_name }} commands.</p>-->
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Command</th>
                    <th>Description</th>
                </tr>
                </thead>
                {% for cmd, doc in commands %}
                    <tr>
                        <td>{{ cmd }}</td>
                        <td>{{ doc }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
