{% extends "layout.html" %}
{% set active_page = "commands" %}
{% block title %}Commands - {{ super() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 id="container">Commands</h2>
            </div>
            <!--<p class="lead">How to use {{ bot_name }} commands.</p>-->
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th class='az' data-defaultsign="nospan" data-defaultsort="asc"><i class="fa fa-map-marker fa-fw"></i>Command</th>
                    <th data-defaultsort='disabled'>Description</th>
                </tr>
                </thead>
                {% for cmd, doc in commands %}
                    <tr>
                        <td>{{ cmd | e }}</td>
                        <td>{{ doc | e }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
